body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
   * Content
   */

[role="main"] {
    padding-top: 48px;
    /* Space for fixed navbar */
}

/*
   * Navbar
   */
.sidebar-sticky {
    cursor: context-menu;
}

#delete-room {
    cursor: pointer;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.message-view {
    position: absolute;
    margin-bottom: 54px;
    width: 98%;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.chat-form {
    position: fixed;
    bottom: 0;
    width: 81vw;
}


ul.ChatLog {
    list-style: none;
}

.ChatLog {
    max-width: 20em;
    margin: 0 auto;
}

.ChatLog .ChatLog__entry {
    margin: 0.5em;
}

.ChatLog__entry {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 100%;
    margin-top: 5px;
}

.ChatLog__entry.ChatLog__entry_mine {
    flex-direction: row-reverse;
}

.ChatLog__avatar {
    flex-shrink: 0;
    flex-grow: 0;
    z-index: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px;

}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__avatar {
    display: none;
}

.ChatLog__entry .ChatLog__message {
    position: relative;
    z-index: 0;
    margin: 0 12px;
}

.ChatLog__entry .ChatLog__message::before {
    position: absolute;
    right: auto;
    bottom: 0.6em;
    left: -12px;
    height: 0;
    content: '';
    border: 6px solid transparent;
    border-right-color: #ddd;
    z-index: 2;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
    right: -12px;
    bottom: 0.6em;
    left: auto;
    border: 6px solid transparent;
    border-left-color: #08f;
}

.ChatLog__message {
    background-color: #ddd;
    padding: 0.5em;
    border-radius: 4px;
    font-weight: lighter;
    max-width: 70%;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
    border-top: 1px solid #07f;
    border-bottom: 1px solid #07f;
    background-color: #08f;
    color: #fff;
}